{% extends 'GameBundle:Template:layout.html.twig' %}
{% block content %}
    <p class="alert-success text-center" style="font-size:50px;">Vous êtes bien inscrit!</p>
    <div class="col-xs-12" style="height:40px;"></div>
{% endblock %}