{# empty Twig template #}
<header>
    <section class="header-top">
        <a href="#"><img src="images/Gauntlet_logo.jpg" class="header-top-logo"/></a>
        <nav class="header-top-nav">
            <ul>
                <li><a href="#"></a>Accueil</li>
                <li><a href="#"></a>Jouer</li>
                <li><a href="#"></a>Le jeux</li>
                <li><a href="#"></a>A propos</li>
            </ul>
        </nav>

        <div class="header-top-login">

            {{ form_start(form)}}
            {{ form_widget(form) }}
            {{ form_start(form)}}

        </div>
        <div>
            <a href="{{ path('logout') }}">Logout</a>
        </div>
    </section>
    <section class="header-middle">
        <div class="header-middle-presentation">
            <h1>Gauntlet Truc</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, distinctio, magni? Quaerat expedita voluptatum impedit eveniet praesentium velit culpa adipisci deserunt, quasi, voluptates, amet porro laboriosam eum minima repudiandae necessitatibus.</p>
        </div>
    </section>
</header>