{% extends 'GameBundle:Template:layout.html.twig' %}

{% block content %}
    <section class="game">
        {{ render(controller('GameBundle:Game:list')) }}
        {{ render(controller('GameBundle:Game:create')) }}
    </section>
{% endblock %}