{% extends 'GameBundle::layout.html.twig' %}

{% block content %}
    <section class="jouer">
        <div class="jouer-connecter">
            <div class="jouer-connecter-room"><div class="room-name"></div><div class="room-player"></div><div class="room-player"></div><div class="room-player"></div></div>
            <button>Lancer une partie</button>
        </div>
    </section>
{% endblock %}