{% extends 'GameBundle::layout.html.twig' %}

{% block content %}
    <section class="jouer">
        <div class="jouer-connecter">
            <div class="jouer-connecter-room"><div class="room-name"></div><div class="room-player"></div><div class="room-player"></div><div class="room-player"></div></div><button>Lancer une partie</button>

        </div>
        <div class="jouer-score">
            <div class="jouer-score-best"></div>
        </div>
    </section>
    <section class="lejeux">
        <div class="lejeux-regles">

        </div>
        <div class="lejeux-lesheros">
            <div class="lejeux-lesheros-card">
                <img src="" alt="">
                <h1>Barbare</h1>
                <p></p>
            </div>
        </div>
        <div class="lejeux-bestiaire">
            <div class="lejeux-bestiaire-card">
                <img src="" alt="">
                <h1>Monstre</h1>
                <p></p>
            </div>
        </div>
    </section>
    <section class="apropos">
        <div class="apropos-leprojet">

        </div>
        <div class="apropos-quisommesnous">

        </div>
    </section>
{% endblock %}