
body {
    padding: 0;
    margin: 0;
}


p {
    font-family: Roboto;
}


h1 {
    font-family: 'Kaushan';
    font-size: 30px;
}


h2 {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

h3 {
    margin-top:0;
    padding-top:0;
}

.l-container {

    width: 960px;
    margin: auto;
    padding-top: 16px;
}


.banner {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 1000px;
    width: 1200px;
    color: white;
    background: url(../images/banner2.jpg) center top repeat;
}


.banner-top .logo{
    color: white;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: 1.75em;
    font-weight: 700;
}

.logoon{
    list-style: none;
}

.header-register a{
    text-decoration: none;
    color: grey;
}

.header-register a:hover{
    color: ghostwhite;
}

.header-login{
    margin: auto;
}

.banner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.banner-top-menu {
    color: white;
}


.banner-top-menu-items {
    display: inline-block;
    margin-left: 58px;
    text-decoration: none;
    list-style: none;
}


.banner-top-menu-items a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.banner-top-menu-items a {
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.banner-top-menu-items a:hover{
    color: white;
    font-weight:500;
}


.banner-center {
    display: flex;
    min-height: 850px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-bottom {
    display: block;
    position: absolute;
    bottom: 0;
}


.banner-center-bl1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;

}


.banner-center-bl2, .banner-center-bl3 {
    font-family:  'Cinzel', serif;
    font-size: 90px;
    line-height: 120px;
}


.banner-center .line {
    background-color: white;
    margin: 50px 0;
}

.line {
    display: block;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin:auto;
}




.section {
    color: black;
    padding: 100px 0;
}


.section-entete {
    display: block;
    margin: auto;
    text-align: center;
}


.section-entete h2 {
    line-height: 10px;
}



footer{
    margin: auto;
    width:1200px;
    background-color: darkred;
    padding-bottom: 16px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}

footer div{
    width:33%;
}

.footer-copyright{
    text-align: center;
    margin-top: -8px;
}

.footer-copyright li{
    list-style:none;
    color:ghostwhite;
    font-style: italic;
    margin-left:-34px;
}

.footer-nouscontacter{
    border-left: 2px white solid;
    border-right: 2px white solid;
    margin-top: -8px;
    padding: 0 16px;
    text-align: center;
}

.footer-nouscontacter a{
    text-decoration:none;
    color: ghostwhite;
    font-style: italic;
}

.footer-nouscontacter a:hover{
    color:white;
}

.footer-liens {
    margin-top: -8px;
    text-align: center;

}

.footer-liens li{
    list-style: none;
    font-style: italic;
    margin-left:-34px;
}

.footer-liens a{
    text-decoration:none;
    color:ghostwhite;
}

.footer-liens a:hover{
    color: white;
}

section{
    width:1200px;
    margin: auto;
}

.lejeux-presentation{

}

.lejeux-presentation img{

}
.paragraphes{
    margin: 0 auto;
    display: table;
    width: 960px;
    border-spacing:20px;
}

.paragraphe-content{
    display: table-cell;
    width:33%;
    text-align: justify;
}

.titre-section{
    margin:auto;
}


