body{
    padding:16px;
    background-color: black;
}

p,h1,h2{
    font-family: 'Press Start 2P', cursive;

}

h1{
    font-size:16px;
}

p{
    font-size:10px;
}

h2{
    font-size:12px;
}

.infogame {
    float:right;
    width:200px;
    height: 640px;
}

.infogame-player{
    text-align: center;
}

.infogame-logo{
    display: block;
    width: 200px;
    margin: auto;
}

.content{
    margin: 0 auto;
    width: 1000px;
}

.plateau{
    float: left;
    position: relative;
    width: 768px;
    height: 576px;
    box-sizing: border-box;
    border:2px solid black;
    background-image: url(../images/sol2.png);
    z-index: -10;
}

.tile{
    position: absolute;
    width: 64px;
    height: 64px;
}

.hero{
    background-image: url(../images/warrior.png);
}

.mur{
    background-image: url(../images/mur.png);
}

.clef{
    background-image: url(../images/clef.png);
}

.potion{
    background-image: url(../images/potion.png);
}

.ghost{
    background-image: url(../images/ghost.png);
}

.wallx{
    background-image: url(../images/wallx.png);

}
.wallxlt{
    background-image: url(../images/wallxlt.png);
}
.wallxrt{
    background-image: url(../images/wallxrt.png);
}
.wallxyx{
    background-image: url(../images/wallxyx.png);
}
.wally{
    background-image: url(../images/wally.png);
}
.wallybt{
    background-image: url(../images/wallybt.png);
}
.wallyxl{
    background-image: url(../images/wallyxl.png);
}
.wallyxr{
    background-image: url(../images/wallyxr.png);
}

.wallyb{
    background-image: url(../images/wallyb.png);
}

.nextlvl{
    background-image: url(../images/nextlvl.png);
}

