.container{
    width: 960px;
    height: 960px;
    margin:0 auto;
}


.plateau{
    position: relative;
    width: 640px;
    height: 640px;
    box-sizing: border-box;
    border:2px solid black;
    background-image: url(../images/sol2.png);
    z-index: -10;
}

.tile{
    position: absolute;
    width: 64px;
    height: 64px;
}

.hero{
    background-image: url(../images/warrior.png);

}

.mur{
    background-image: url(../images/mur.png);

}


