{% extends "::base.html.twig" %}

{% block title %}GameBundle:Game:join{% endblock %}

{% block body %}
<h1>Welcome to the Game:join page</h1>
    <h2>{{ game.id }}</h2>
    <h3>{{ dump(game.users) }}</h3>

{% endblock %}
