<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>GauntletPHP</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/stylemap.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    </head>
    <body>
        <div class="content">
            <div class="gamescreen">
                {% include 'GameBundle:Map:map.html.twig' %}
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    // Votre code ici avec les appels à la fonction $()
                    $(document).keydown(function (e) {
                        switch (e.which) {
                            case 37: // left
                                moveDirection = 4;
                                break;
                            case 38: // up
                                moveDirection = 1;
                                break;
                            case 39: // right
                                moveDirection = 2;
                                break;
                            case 40: // down
                                moveDirection = 3;
                                break;
                            default:
                                return; // exit this handler for other keys
                        }

                        $.ajax({
                            url: '{{ path('game_game_play', {'id': idGame, 'action': 'move'}) }}' + '/' + moveDirection, // La ressource ciblée
                            type: 'POST', // Le type de la requête HTTP.
                            dataType: 'html',
                            success: function (code_html, statut) {

                                //alert(code_html);
                                $(".gamescreen").html(code_html);

                            },
                            error: function (resultat, statut, erreur) {

                            },
                            complete: function (resultat, statut) {

                            }
                        });  // end ajax

                        e.preventDefault(); // prevent the default action (scroll / move caret)
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>