<header>
    <section class="header-top">
        <a href="#"><img src="images/logo.jpg" class="header-top-logo"/></a>

        <div class="header-top-login">
            {{ render(controller(
                    'GameBundle:User:login'
            )) }}


        </div>
    </section>
    <section class="header-middle">
        <div class="header-middle-presentation">
            <h1>Gauntlet</h1>
            <p>
                Bienvenue.
            </p>
        </div>
    </section>
</header>