<div class="infos-rules">
    <h3>LES REGLES DU JEU</h3>
</div>

<div class="infos-commands">
    <h3>LES COMMANDES DU JEU</h3>
</div>
    
<div class="infos-about-us">
    <h3>A PROPOS</h3>
</div>

<div class="infos-contact">
    <h3>NOUS CONTACTER</h3>
</div>