<div class="infos-rules">
    <h3 class="text-center">Règles du Jeu</h3>
    <div class="paragraphes">
        <p>Gauntlet est un jeu à l'ambiance heroic-fantasy qui se déroule dans un donjon en vue de dessus. Le joueur a le choix entre quatre héros (un guerrier, un mage, un elfe ou une Valkyrie), chacun ayant un point fort différent.</p>
        <p>Dans notre version, seul le guerrier est disponible et un seul type de monstre est présent. </p>
        <p></p>
    </div>
</div>

<div class="infos-commands">
    <h3 class="text-center">Commandes du Jeu</h3>
    <div class="lejeu-presentation">
        <div class="paragraphes">
            <p class="paragraphe-content text-center">Gauntlet est un jeu vidéo développé et édité par Atari Games en 1985 sur borne d'arcade. Considéré comme un classique du jeu d'arcade, Gauntlet est un jeu d'action qui a la particularité d'être jouable à quatre en simultané. Il fut porté sur de nombreux supports familiaux et de nouvelles versions ont été créé depuis, dont une en full 3D.</p>
            <p class="paragraphe-content">
                Notre version est une copie allégée du jeux, réalisée avec la contrainte d'utiliser principalement PHP et son framework Symfony. </p>
        </div>

    </div>


</div>


