<html>
    <head>
        <title>ADMIN : CREATE MAPS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Create Maps</h1>
            <p>{{ nbMaps }} map(s) (initial)</p>
            <p><a href=" {{ path('homepage') }}">Homepage</a></p>
        </div>
    </body>
</html>
