
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Gauntlet Alpha</title>
        <link rel="stylesheet" href="{{ asset('stylesheet/style.css') }}" type="text/css"/>
    </head>
    <body>
        <div class="plateau">
            {% for tile in map %}
                <!-- Changer les noms des variables coord/ect-->
                <div class="{{ tile.type }} tile" style="margin-left:{{ tile.positionX }}px; margin-top:{{ tile.positionY }}px"></div>
            {% endfor %}
        </div>
    </body>

</html>{# empty Twig template #}
