 {% for tile in map %}
        <!-- Changer les noms des variables coord/ect-->
        <div class="{{ tile.type }} tile" style="margin-left:{{ tile.positionX }}px; margin-top:{{ tile.positionY }}px"></div>
    {% endfor %}