{# empty Twig template #}

<section class="lejeu">
    <div class="lejeu-lesheros">
        <div class="lejeux-lesheros-card">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset('images/warrior.png') }}" alt="Warrior">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="titre-section media-heading">Barbare</h3>
                    <div class="paragraphes">
                        <p>Personnage principal de gauntlet, ses atouts sont ces deux énormes biceps lui conférant le pouvoir de manier une large double axe, infligeant des dégats monumentaux en combat rapproché.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr"/>
    <div class="lejeu-bestiaire">
        <div class="lejeux-bestiaire-card">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset('images/ghost.png') }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="titre-section media-heading" >Les fantomes</h3>
                    <div class="paragraphes">
                        <p>Les fantomes sont les ames errantes des guerriers morts précédements dans les donjons de gauntlet. Ils ont perdu tout sens humains et leur intelligence est réduit à celui d'une amibe. Si vous croisez un fantome, ceux ci vous chargeront au corps a corps pour absorber toute votre énergie vitale. Deux solutions : fuir ou les combattre.</p>
                    </div>
                </div>
            </div>
            <hr class="hr"/>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset('images/potion.png') }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="titre-section media-heading" >Les Potions de vie</h3>
                    <div class="paragraphes">
                        <p>La potion de vie permet de récupérer une petite partie de votre santé perdu connement en vous frottant au monstres qui hantent les niveaux.</p>
                    </div>
                </div>
            </div>
            <hr class="hr"/>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset('images/clef.png') }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="titre-section media-heading" >Les fantomes</h3>
                    <div class="paragraphes">
                        <p>Pas de bras, pas de chocolat! Pas de clef, pas de clef! Et il en faut une pour passer le niveau! Chopper les clefs!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

