{# empty Twig template #}
<section class="lejeu">
    <div class="l-container">

    </div>
    <div class="lejeu-lesheros">
        <div class="lejeux-lesheros-card">
            <img src="" alt="">
            </div>
    </div>
    <div class="lejeu-bestiaire">
        <div class="lejeux-bestiaire-card">
            <img src="" alt="">
            </div>
    </div>
</section>
<section class="apropos">
    <div class="apropos-leprojet">

    </div>
    <div class="apropos-quisommesnous">

    </div>
</section>